/* Estilo geral para a página */
body {
    font-family: Arial, sans-serif;
    color: #f4f4f4; /* Texto claro */
    margin: 0;
    padding: 0;
}

/* Topo com imagem de fundo e degradê */
header {
    height: 300px;
    background-size: cover;
    /* Faz com que a imagem fique fixa */
    background: url('https://cdn.pixabay.com/photo/2021/08/27/18/50/water-6579313_1280.jpg') no-repeat center;
    position: relative; /* Para posicionar o degradê */
    /* Centraliza o conteúdo no header */
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
}

/* Degradê para a transição suave da imagem ao texto */
header::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), #121212); /* Degradê que escurece a imagem ao rolar */
}

/* Estilo do título (h1) */
header h1 {
    font-family: Impact, fantasy;
    position: relative;
    z-index: 2; /* Garante que o título fique sobre o degradê */
    color: #f4f4f4;
    font-size: 3rem;
    text-align: center;
    margin: 0;
}

/* Fade-in para os blocos de texto */
.fade-in {
    opacity: 0;
    transition: opacity 1.5s ease-in, transform 1.5s ease-in; /* Adiciona também uma transição de posição */
    margin-bottom: 1rem;
    max-width: 600px; /* Limita a largura do texto */
    line-height: 1.5;
    color: #f4f4f4;
    transform: translateY(50px); /* Movemos o texto um pouco para baixo inicialmente */
}

.fade-in.show {
    opacity: 1;
    transform: translateY(0); /* O texto "sobe" para sua posição original */
}

.container {
    font-family: Bradley Hand, cursive;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    width: 100%;
    max-width: 600px;
    margin: auto;
    padding: 20px;
    z-index: 1; /* Garante que o texto fique sobre a imagem */
    position: relative;
    box-sizing: border-box;
    max-height: 600px;
}

.btn {
    margin: 100px;
    padding: 15px 40px;
    border: none;
    outline: none;
    color: #FFF;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 12px;
}
.btn::after {
    content: "";
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #333;
    left: 0;
    top: 0;
    border-radius: 10px;
}
/* glow */
.btn::before {
    content: "";
    background: linear-gradient(
            45deg,
            #FF0000, #FF7300, #FFFB00, #48FF00,
            #00FFD5, #002BFF, #FF00C8, #FF0000
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 600%;
    z-index: -1;
    width: calc(100% + 4px);
    height:  calc(100% + 4px);
    filter: blur(8px);
    animation: glowing 20s linear infinite;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
    opacity: 0;
}

@keyframes glowing {
    0% {background-position: 0 0;}
    50% {background-position: 400% 0;}
    100% {background-position: 0 0;}
}

/* hover */
.btn:hover::before {
    opacity: 1;
}

.btn:active:after {
    background: transparent;
}

.btn:active {
    color: #000;
    font-weight: bold;
}