@page "/"
@inject IJSRuntime JsRuntime
@inject NavigationManager Navigation

<PageTitle>"Não termina meu presente????"</PageTitle>

<header>
    <h1>Preparada para viver uma nova temporada?</h1>
</header>

<div class="container">
    <div class="fade-in">
            Olá Dona do Meu Coração.<br><br>
            
            Estou muito feliz em comemorar 1 ano eu teu lado. <br>
            Como forma de comemoração, criei esse site para relembrar e eternizar os momentos incríveis desse primeiro ano.<br><br>
            
            Clique no botão abaixo para iniciar a aventura e vivenciar momentos únicos.<br><br>
  
            ⚠Atenção⚠: risco de ficar com o status felicidade muito alto. Entre por sua conta e risco.<br><br><br>
            
            Não se esqueça: Eu te amo muito minha vida.
    </div>
    <div class="fade-in" style="height: 100vh;">
        <button class="btn" role="button" @onclick="GoToNextPage">Clique</button>
    </div>
</div>